<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IMAPMailboxUnseenCount</key>
	<integer>4493</integer>
	<key>MailboxID</key>
	<string>0DBEC156-2025-469A-85AE-A66CE1CE40DB</string>
	<key>MailboxName</key>
	<string>INBOX</string>
</dict>
</plist>
