<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>circle</key>
	<dict>
		<key>dsid</key>
		<integer>10024225314</integer>
		<key>is-member-of-family</key>
		<false/>
		<key>status</key>
		<integer>0</integer>
		<key>status-message</key>
		<string>Success</string>
	</dict>
	<key>timestamp</key>
	<date>2023-01-29T12:49:23Z</date>
	<key>username</key>
	<string>10024225314</string>
</dict>
</plist>
