<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACAccountID</key>
	<string>A6C2F2E8-7B5C-459B-8D89-DAD944B4BE36</string>
	<key>AccountIsEnabledForCalendar</key>
	<true/>
	<key>AccountIsEnabledForReminders</key>
	<false/>
	<key>AutoScheduleSupport</key>
	<true/>
	<key>CalendarHomePath</key>
	<string>/caldav/v2/faeldroom46%40gmail.com/</string>
	<key>CalendarHomeSyncSupported</key>
	<false/>
	<key>CalendarProxySupport</key>
	<true/>
	<key>CalendarServerPrivateEventsSupport</key>
	<false/>
	<key>Color</key>
	<string>#6C6C6CFF</string>
	<key>DefaultCalendarPath</key>
	<string>/caldav/v2/faeldroom46%40gmail.com/events/</string>
	<key>Delegate</key>
	<false/>
	<key>Enabled</key>
	<true/>
	<key>ExpandPropertyReportSupport</key>
	<true/>
	<key>Expanded</key>
	<true/>
	<key>FullName</key>
	<string>Fael Drum</string>
	<key>InboxAvailabilitySupport</key>
	<false/>
	<key>InboxPath</key>
	<string>/caldav/v2/faeldroom46%40gmail.com/inbox/</string>
	<key>JunkReportingSupport</key>
	<false/>
	<key>KeepOffline</key>
	<false/>
	<key>Kerberos</key>
	<false/>
	<key>Key</key>
	<string>9BC78EFC-2867-41F7-BB35-03B7CDCCB1FC</string>
	<key>LikenessPropagationSupport</key>
	<false/>
	<key>Login</key>
	<string>faeldroom46@gmail.com</string>
	<key>ManagedAttachmentSupported</key>
	<false/>
	<key>Order</key>
	<integer>4</integer>
	<key>OutboxPath</key>
	<string>/caldav/v2/faeldroom46%40gmail.com/outbox/</string>
	<key>PreferredCalendarUserAddresses</key>
	<array>
		<dict>
			<key>PreferredCalendarUserAddressesAddress</key>
			<string>mailto:faeldroom46@gmail.com</string>
			<key>PreferredCalendarUserAddressesPreferred</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>PreferredCalendarUserAddressesAddress</key>
			<string>/caldav/v2/faeldroom46%40gmail.com/user/</string>
			<key>PreferredCalendarUserAddressesPreferred</key>
			<integer>-1</integer>
		</dict>
	</array>
	<key>PrincipalURL</key>
	<string>https://apidata.googleusercontent.com/caldav/v2/faeldroom46%40gmail.com/user</string>
	<key>PrivateCommentsSupport</key>
	<false/>
	<key>PushDisabled</key>
	<false/>
	<key>RefreshDate</key>
	<date>2023-01-31T12:29:18Z</date>
	<key>RefreshInterval</key>
	<integer>900</integer>
	<key>RequestCompressionSupported</key>
	<false/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>SupportsDefaultAlarms</key>
	<true/>
	<key>SupportsNotSerializingTimezones</key>
	<false/>
	<key>SupportsPhoneNumbers</key>
	<false/>
	<key>SupportsRecurrenceSplitOnServer</key>
	<false/>
	<key>SupportsSharing</key>
	<false/>
	<key>SupportsSubscriptionCalendars</key>
	<false/>
	<key>Title</key>
	<string>Google</string>
	<key>Type</key>
	<string>CalDAV</string>
	<key>Writable</key>
	<true/>
	<key>inboxCTag</key>
	<string>never-changes</string>
	<key>isInSeparateWindow</key>
	<false/>
	<key>isManuallyConfigured</key>
	<false/>
</dict>
</plist>
