<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MailboxID</key>
	<string>02DF5012-72F4-485D-BB80-B1583F32CB38</string>
	<key>MailboxIsFirstTimeSync</key>
	<string>NO</string>
	<key>MailboxLastSyncDate</key>
	<date>2023-01-31T12:30:03Z</date>
	<key>MailboxName</key>
	<string>Rascunhos</string>
	<key>SupportsCustomFlags</key>
	<string>YES</string>
	<key>UIDNEXT</key>
	<string>1303</string>
	<key>UIDVALIDITY</key>
	<string>6</string>
</dict>
</plist>
