<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4B9ED431-0FE7-4BB0-A02C-26EA0456C118</key>
	<false/>
	<key>A8A23699-30E9-4051-BD68-952FACA89CB0</key>
	<false/>
</dict>
</plist>
