<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signatures/AllSignatures.plist</key>
	<dict>
		<key>LastVersionPresent</key>
		<integer>4</integer>
		<key>SignedIn</key>
		<true/>
		<key>iCloudAccount</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
		VCR0b3ASAAGGoKIHCFUkbnVsbE8QFAn3b4/vHI4PYkOm8NXuabUyyQSlXxAP
		TlNLZXllZEFyY2hpdmVy0QsMXWlDbG91ZEFjY291bnSAAQgRGiMtMjc6QFdp
		bHoAAAAAAAABAQAAAAAAAAANAAAAAAAAAAAAAAAAAAAAfA==
		</data>
	</dict>
	<key>SyncedRules.plist</key>
	<dict>
		<key>LastVersionPresent</key>
		<integer>4</integer>
		<key>SignedIn</key>
		<true/>
		<key>iCloudAccount</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
		VCR0b3ASAAGGoKIHCFUkbnVsbE8QFAn3b4/vHI4PYkOm8NXuabUyyQSlXxAP
		TlNLZXllZEFyY2hpdmVy0QsMXWlDbG91ZEFjY291bnSAAQgRGiMtMjc6QFdp
		bHoAAAAAAAABAQAAAAAAAAANAAAAAAAAAAAAAAAAAAAAfA==
		</data>
	</dict>
	<key>SyncedSmartMailboxes.plist</key>
	<dict>
		<key>LastVersionPresent</key>
		<integer>4</integer>
		<key>SignedIn</key>
		<true/>
		<key>iCloudAccount</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
		VCR0b3ASAAGGoKIHCFUkbnVsbE8QFAn3b4/vHI4PYkOm8NXuabUyyQSlXxAP
		TlNLZXllZEFyY2hpdmVy0QsMXWlDbG91ZEFjY291bnSAAQgRGiMtMjc6QFdp
		bHoAAAAAAAABAQAAAAAAAAANAAAAAAAAAAAAAAAAAAAAfA==
		</data>
	</dict>
</dict>
</plist>
