<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AllCriteriaMustBeSatisfied</key>
		<true/>
		<key>AutoResponseType</key>
		<integer>0</integer>
		<key>Criteria</key>
		<array>
			<dict>
				<key>CriterionUniqueId</key>
				<string>099770F7-723B-427C-B91F-FF1D5FCAE00F</string>
				<key>Header</key>
				<string>SenderIsNotInAddressBook</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>B50A1534-A06C-4ED0-86B0-E5299938D61A</string>
				<key>Header</key>
				<string>SenderIsNotInAddressHistory</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>3283248F-1627-4AC6-BAB9-493FFE7EA7C3</string>
				<key>Header</key>
				<string>NoRecipientIncludesFullName</string>
			</dict>
			<dict>
				<key>CriterionUniqueId</key>
				<string>6FBE3E44-91BA-47EC-8AD1-B11C1F736D78</string>
				<key>Header</key>
				<string>IsJunkMail</string>
			</dict>
		</array>
		<key>Deletes</key>
		<false/>
		<key>HighlightTextUsingColor</key>
		<false/>
		<key>IsOneAndOnlyJunkRule</key>
		<true/>
		<key>MarkFlagged</key>
		<false/>
		<key>MarkRead</key>
		<false/>
		<key>NotifyUser</key>
		<false/>
		<key>RuleId</key>
		<string>A8A23699-30E9-4051-BD68-952FACA89CB0</string>
		<key>RuleName</key>
		<string>Indesejado</string>
		<key>SendNotification</key>
		<false/>
		<key>ShouldCopyMessage</key>
		<false/>
		<key>ShouldTransferMessage</key>
		<false/>
		<key>TimeStamp</key>
		<integer>696422944</integer>
	</dict>
</array>
</plist>
