<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Availability</key>
	<true/>
	<key>CTag</key>
	<string>HwoQEgwAAI6wkk2y9AAAAAAYARgAIhYI1Zv52JHekpCBARDT5qSlxOTU/JABKAA=</string>
	<key>CalendarPath</key>
	<string>/10024225314/calendars/933049CE-9F8F-4144-A3D6-08DFE4C4A68C/</string>
	<key>CanBePublished</key>
	<true/>
	<key>Checked</key>
	<integer>1</integer>
	<key>Color</key>
	<string>#1D9BF6FF</string>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>4E35A063-9142-4BA9-A422-DB1CA8E50892</string>
	<key>Order</key>
	<integer>2</integer>
	<key>OwnerPrincipalPath</key>
	<string>/10024225314/principal/</string>
	<key>Permission</key>
	<integer>4</integer>
	<key>PushKey</key>
	<string>10024225314</string>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>TaskContainer</key>
	<false/>
	<key>TimeZone</key>
	<string>Europe/Lisbon</string>
	<key>Title</key>
	<string>Calendário</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
