<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capabilities</key>
	<array>
		<string>CHILDREN</string>
		<string>ENABLE</string>
		<string>X-GM-EXT-1</string>
		<string>CONDSTORE</string>
		<string>MOVE</string>
		<string>IDLE</string>
		<string>UIDPLUS</string>
		<string>LIST-STATUS</string>
		<string>SPECIAL-USE</string>
		<string>LIST-EXTENDED</string>
		<string>APPENDLIMIT=35651584</string>
		<string>XLIST</string>
		<string>IMAP4REV1</string>
		<string>QUOTA</string>
		<string>ID</string>
		<string>LITERAL-</string>
		<string>COMPRESS=DEFLATE</string>
		<string>UNSELECT</string>
		<string>UTF8=ACCEPT</string>
		<string>ESEARCH</string>
		<string>NAMESPACE</string>
	</array>
	<key>mboxes</key>
	<dict>
		<key>INBOX</key>
		<dict>
			<key>IMAPMailboxAttributes</key>
			<integer>64</integer>
			<key>IMAPMailboxChildren</key>
			<dict/>
			<key>MailboxID</key>
			<string>0DBEC156-2025-469A-85AE-A66CE1CE40DB</string>
			<key>MailboxIsManuallySorted</key>
			<false/>
			<key>MailboxPathComponent</key>
			<string>INBOX</string>
			<key>MailboxUnreadCount</key>
			<integer>4492</integer>
		</dict>
		<key>Notes</key>
		<dict>
			<key>IMAPMailboxAttributes</key>
			<integer>32</integer>
			<key>IMAPMailboxChildren</key>
			<dict>
				<key>Cifras</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>64</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxID</key>
					<string>2614B965-E512-4BB4-8A12-E07FF9B2B41E</string>
					<key>MailboxIsManuallySorted</key>
					<false/>
					<key>MailboxPathComponent</key>
					<string>Cifras</string>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>MailboxID</key>
			<string>F352278E-463D-4C65-8DE9-E32B234CA1AD</string>
			<key>MailboxIsManuallySorted</key>
			<false/>
			<key>MailboxPathComponent</key>
			<string>Notes</string>
			<key>MailboxUnreadCount</key>
			<integer>0</integer>
		</dict>
		<key>[Gmail]</key>
		<dict>
			<key>IMAPMailboxAttributes</key>
			<integer>34</integer>
			<key>IMAPMailboxChildren</key>
			<dict>
				<key>Com estrela</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>8768</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxID</key>
					<string>0008AA6A-77E5-4B9B-A69C-3C92C913C83B</string>
					<key>MailboxIsManuallySorted</key>
					<false/>
					<key>MailboxPathComponent</key>
					<string>Com estrela</string>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>E-mails enviados</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>32832</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxID</key>
					<string>B1A43D31-F2D6-4683-8270-081D977D5CA9</string>
					<key>MailboxIsManuallySorted</key>
					<false/>
					<key>MailboxPathComponent</key>
					<string>E-mails enviados</string>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>Importante</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>131136</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxID</key>
					<string>EBD8ABBD-7DFC-47BD-A067-0C7E48F5F0B7</string>
					<key>MailboxIsManuallySorted</key>
					<false/>
					<key>MailboxPathComponent</key>
					<string>Importante</string>
					<key>MailboxUnreadCount</key>
					<integer>215</integer>
				</dict>
				<key>Lixeira</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>65600</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxID</key>
					<string>7D6EDAAB-DFF9-4524-82A1-A79C22D1C306</string>
					<key>MailboxIsManuallySorted</key>
					<false/>
					<key>MailboxPathComponent</key>
					<string>Lixeira</string>
					<key>MailboxUnreadCount</key>
					<integer>0</integer>
				</dict>
				<key>Rascunhos</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>4160</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxID</key>
					<string>02DF5012-72F4-485D-BB80-B1583F32CB38</string>
					<key>MailboxIsManuallySorted</key>
					<false/>
					<key>MailboxPathComponent</key>
					<string>Rascunhos</string>
					<key>MailboxUnreadCount</key>
					<integer>25</integer>
				</dict>
				<key>Spam</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>16448</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxID</key>
					<string>415C2148-88DE-40DE-A720-CDB713B12925</string>
					<key>MailboxIsManuallySorted</key>
					<false/>
					<key>MailboxPathComponent</key>
					<string>Spam</string>
					<key>MailboxUnreadCount</key>
					<integer>12</integer>
				</dict>
				<key>Todos os e-mails</key>
				<dict>
					<key>IMAPMailboxAttributes</key>
					<integer>1088</integer>
					<key>IMAPMailboxChildren</key>
					<dict/>
					<key>MailboxID</key>
					<string>0688F123-9C10-4E50-A8F8-23B76C3877FA</string>
					<key>MailboxIsManuallySorted</key>
					<false/>
					<key>MailboxPathComponent</key>
					<string>Todos os e-mails</string>
					<key>MailboxUnreadCount</key>
					<integer>4806</integer>
				</dict>
			</dict>
			<key>MailboxID</key>
			<string>31248604-AB08-4A39-920B-B0C5458FC058</string>
			<key>MailboxIsManuallySorted</key>
			<false/>
			<key>MailboxPathComponent</key>
			<string>[Gmail]</string>
			<key>MailboxUnreadCount</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>separator</key>
	<string>/</string>
</dict>
</plist>
