<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACAccountID</key>
	<string>1DF0C95C-A5EF-4996-9997-29699922B98C</string>
	<key>AccountIsEnabledForCalendar</key>
	<true/>
	<key>AccountIsEnabledForReminders</key>
	<true/>
	<key>AutoScheduleSupport</key>
	<true/>
	<key>CalendarHomePath</key>
	<string>/10024225314/calendars/</string>
	<key>CalendarHomeSyncSupported</key>
	<true/>
	<key>CalendarProxySupport</key>
	<false/>
	<key>CalendarServerPrivateEventsSupport</key>
	<false/>
	<key>Color</key>
	<string>#6C6C6CFF</string>
	<key>DefaultCalendarPath</key>
	<string>/10024225314/calendars/BA9576F4-DB96-446C-87F1-D38DBAA761A0/</string>
	<key>Delegate</key>
	<false/>
	<key>Enabled</key>
	<true/>
	<key>ExpandPropertyReportSupport</key>
	<true/>
	<key>Expanded</key>
	<true/>
	<key>FullName</key>
	<string>Rafael Anderson Correa De Souza correa</string>
	<key>InboxAvailabilitySupport</key>
	<false/>
	<key>InboxPath</key>
	<string>/10024225314/calendars/inbox/</string>
	<key>JunkReportingSupport</key>
	<true/>
	<key>KeepOffline</key>
	<false/>
	<key>Kerberos</key>
	<false/>
	<key>Key</key>
	<string>7C183079-5286-4170-9C44-5150749015E7</string>
	<key>LikenessPropagationSupport</key>
	<false/>
	<key>Login</key>
	<string>rafabatera64@hotmail.com</string>
	<key>ManagedAttachmentSupported</key>
	<true/>
	<key>NotificationCollectionCTag</key>
	<string>HwoQEgwAAIDFp9PSDQAAAAAYARgAIhUIioKhxZ2si5s1EMTxyqOfvJSqqQEoAA==</string>
	<key>NotificationCollectionPath</key>
	<string>/10024225314/calendars/notification/</string>
	<key>Order</key>
	<integer>8</integer>
	<key>OutboxPath</key>
	<string>/10024225314/calendars/outbox/</string>
	<key>PreferredCalendarUserAddresses</key>
	<array>
		<dict>
			<key>PreferredCalendarUserAddressesAddress</key>
			<string>/10024225314/principal</string>
			<key>PreferredCalendarUserAddressesPreferred</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>PreferredCalendarUserAddressesAddress</key>
			<string>/aMTAwMjQyMjUzMTQxMDAyNKrblsjEKwy0S6qCpBW7IgG3-IBUvQLz5U0X5uUagWiB/principal/</string>
			<key>PreferredCalendarUserAddressesPreferred</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>PreferredCalendarUserAddressesAddress</key>
			<string>urn:uuid:10024225314</string>
			<key>PreferredCalendarUserAddressesPreferred</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>PreferredCalendarUserAddressesAddress</key>
			<string>mailto:rafabatera64@hotmail.com</string>
			<key>PreferredCalendarUserAddressesPreferred</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>PrincipalURL</key>
	<string>https://p60-caldav.icloud.com/10024225314/principal/</string>
	<key>PrivateCommentsSupport</key>
	<false/>
	<key>PushDisabled</key>
	<false/>
	<key>PushKey</key>
	<string>10024225314</string>
	<key>PushTransports</key>
	<dict>
		<key>APSD</key>
		<dict>
			<key>apsbundleid</key>
			<string>com.me.cal</string>
			<key>courierserver</key>
			<string>webcourier.push.apple.com</string>
			<key>env</key>
			<string>PRODUCTION</string>
			<key>refresh-interval</key>
			<string>43200</string>
			<key>subscription-url</key>
			<string>https://p60-caldav.icloud.com/mm/sub</string>
			<key>token-url</key>
			<string>https://p60-caldav.icloud.com/mm/token</string>
		</dict>
	</dict>
	<key>RefreshDate</key>
	<date>2023-01-31T10:04:17Z</date>
	<key>RefreshInterval</key>
	<integer>900</integer>
	<key>RequestCompressionSupported</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>SupportsDefaultAlarms</key>
	<true/>
	<key>SupportsNotSerializingTimezones</key>
	<false/>
	<key>SupportsPhoneNumbers</key>
	<true/>
	<key>SupportsRecurrenceSplitOnServer</key>
	<false/>
	<key>SupportsSharing</key>
	<true/>
	<key>SupportsSubscriptionCalendars</key>
	<true/>
	<key>Title</key>
	<string>iCloud</string>
	<key>Type</key>
	<string>CalDAV</string>
	<key>Writable</key>
	<true/>
	<key>inboxCTag</key>
	<string>HwoQEgwAAIXvNi+VdwAAAAAYARgAIhUIxpil49quosYcEMmKrNOC58aslwEoAA==</string>
	<key>isInSeparateWindow</key>
	<false/>
	<key>isManuallyConfigured</key>
	<false/>
</dict>
</plist>
