<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Availability</key>
	<true/>
	<key>CTag</key>
	<string>HwoQEgwAALJ0qNrrYgAAAAAYARgAIhUIq5yNhvXCgdkcEKP0hofGzpjBjgEoAA==</string>
	<key>CalendarPath</key>
	<string>/10024225314/calendars/1801B47B-093B-4E97-98BA-A1497FF09D39/</string>
	<key>CanBePublished</key>
	<true/>
	<key>Checked</key>
	<integer>1</integer>
	<key>Color</key>
	<string>#BF57DAFF</string>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>ECD3BDFF-94AE-4AEB-8D91-41CC918D314E</string>
	<key>Order</key>
	<integer>3</integer>
	<key>OwnerPrincipalPath</key>
	<string>/10024225314/principal/</string>
	<key>Permission</key>
	<integer>4</integer>
	<key>PushKey</key>
	<string>10024225314</string>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>TaskContainer</key>
	<false/>
	<key>TimeZone</key>
	<string>Europe/Lisbon</string>
	<key>Title</key>
	<string>Emprego</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
