<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IMAPMailboxUnseenCount</key>
	<integer>4807</integer>
	<key>MailboxID</key>
	<string>0688F123-9C10-4E50-A8F8-23B76C3877FA</string>
	<key>MailboxIsFirstTimeSync</key>
	<string>NO</string>
	<key>MailboxLastSyncDate</key>
	<date>2023-01-31T12:30:01Z</date>
	<key>MailboxName</key>
	<string>Todos os e-mails</string>
	<key>SupportsCustomFlags</key>
	<string>YES</string>
	<key>UIDNEXT</key>
	<string>12140</string>
	<key>UIDVALIDITY</key>
	<string>11</string>
</dict>
</plist>
