<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calendars</key>
	<array>
		<string>9392CDE6-EC49-4E30-BC77-A736FAFE1A8A</string>
	</array>
	<key>Color</key>
	<string>#6C6C6CFF</string>
	<key>Enabled</key>
	<true/>
	<key>Expanded</key>
	<false/>
	<key>Key</key>
	<string>C29E8569-0802-4C8E-A931-B3A5A427894F</string>
	<key>Order</key>
	<integer>0</integer>
	<key>Title</key>
	<string>Migração de dados de “No meu Mac”</string>
	<key>Type</key>
	<string>Migration</string>
</dict>
</plist>
