<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoScheduleSupport</key>
	<false/>
	<key>CalendarHomeSyncSupported</key>
	<false/>
	<key>CalendarProxySupport</key>
	<false/>
	<key>CalendarServerPrivateEventsSupport</key>
	<false/>
	<key>Color</key>
	<string>#6C6C6CFF</string>
	<key>Delegate</key>
	<true/>
	<key>Enabled</key>
	<false/>
	<key>ExpandPropertyReportSupport</key>
	<false/>
	<key>Expanded</key>
	<true/>
	<key>InboxAvailabilitySupport</key>
	<false/>
	<key>JunkReportingSupport</key>
	<false/>
	<key>KeepOffline</key>
	<false/>
	<key>Key</key>
	<string>10815F79-B9FE-405A-BE19-0F345D52E683</string>
	<key>LikenessPropagationSupport</key>
	<false/>
	<key>ManagedAttachmentSupported</key>
	<false/>
	<key>Order</key>
	<integer>5</integer>
	<key>PreferredCalendarUserAddresses</key>
	<array/>
	<key>Principal</key>
	<string>9BC78EFC-2867-41F7-BB35-03B7CDCCB1FC</string>
	<key>PrincipalURL</key>
	<string>https://apidata.googleusercontent.com/caldav/v2/e1q2sojic5t6ir39c5n26q3fdhkm8obp81jn4rrle0n7cbj3c5m6arj4c5p2sprfdtjmop9ecdnmq%40virtual/user/</string>
	<key>PrivateCommentsSupport</key>
	<false/>
	<key>RequestCompressionSupported</key>
	<false/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>SupportsDefaultAlarms</key>
	<true/>
	<key>SupportsNotSerializingTimezones</key>
	<false/>
	<key>SupportsPhoneNumbers</key>
	<false/>
	<key>SupportsRecurrenceSplitOnServer</key>
	<false/>
	<key>SupportsSharing</key>
	<false/>
	<key>SupportsSubscriptionCalendars</key>
	<false/>
	<key>Title</key>
	<string>Feriados no Brasil</string>
	<key>Type</key>
	<string>CalDAV</string>
	<key>Writable</key>
	<false/>
	<key>isInSeparateWindow</key>
	<false/>
	<key>isManuallyConfigured</key>
	<false/>
</dict>
</plist>
