<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IMAPMailboxUnseenCount</key>
	<integer>12</integer>
	<key>MailboxDontIndexFlagFileWritten</key>
	<string>YES</string>
	<key>MailboxID</key>
	<string>415C2148-88DE-40DE-A720-CDB713B12925</string>
	<key>MailboxIsFirstTimeSync</key>
	<string>NO</string>
	<key>MailboxLastSyncDate</key>
	<date>2023-01-31T12:30:02Z</date>
	<key>MailboxName</key>
	<string>Spam</string>
	<key>SupportsCustomFlags</key>
	<string>YES</string>
	<key>UIDNEXT</key>
	<string>1057</string>
	<key>UIDVALIDITY</key>
	<string>3</string>
</dict>
</plist>
