<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Checked</key>
	<integer>1</integer>
	<key>Color</key>
	<string>#FEC309FF</string>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>IsNaturalLanguageSuggestedEventCalendar</key>
	<true/>
	<key>IsSuggestedEventCalendar</key>
	<false/>
	<key>Key</key>
	<string>9335CD9D-81D9-42BB-A2D9-DB68D0C53F9D</string>
	<key>Order</key>
	<integer>0</integer>
	<key>ShareDefaultAlarmSettings</key>
	<false/>
	<key>TaskContainer</key>
	<false/>
	<key>Title</key>
	<string>Eventos em linguagem natural</string>
	<key>Type</key>
	<string>Local</string>
</dict>
</plist>
