<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MailboxID</key>
	<string>B1A43D31-F2D6-4683-8270-081D977D5CA9</string>
	<key>MailboxName</key>
	<string>E-mails enviados</string>
</dict>
</plist>
