<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MailboxID</key>
	<string>0008AA6A-77E5-4B9B-A69C-3C92C913C83B</string>
	<key>MailboxName</key>
	<string>Com estrela</string>
</dict>
</plist>
