<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MailboxID</key>
	<string>7D6EDAAB-DFF9-4524-82A1-A79C22D1C306</string>
	<key>MailboxIsFirstTimeSync</key>
	<string>NO</string>
	<key>MailboxLastSyncDate</key>
	<date>2023-01-31T12:30:03Z</date>
	<key>MailboxName</key>
	<string>Lixeira</string>
	<key>SupportsCustomFlags</key>
	<string>YES</string>
	<key>UIDNEXT</key>
	<string>785</string>
	<key>UIDVALIDITY</key>
	<string>2</string>
</dict>
</plist>
