<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OSBuild</key>
	<string>10.13.6:17G66</string>
	<key>appRecords</key>
	<array>
		<array>
			<string>AppRecord</string>
			<string>Siri</string>
			<string>com.apple.Siri</string>
			<string>146.4.6.1</string>
			<string>146.4.6.1</string>
			<integer>121537</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>TMHelperAgent</string>
			<string>com.apple.TMHelperAgent</string>
			<string>10.9</string>
			<string>10.9</string>
			<integer>1255</integer>
			<integer>0</integer>
			<integer>23</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.ncplugin.weather</string>
			<string>com.apple.ncplugin.weather</string>
			<string>51</string>
			<string>1.0</string>
			<integer>360</integer>
			<integer>0</integer>
			<integer>26</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Safari</string>
			<string>com.apple.Safari</string>
			<string>13605.3.8</string>
			<string>11.1.2</string>
			<integer>28281</integer>
			<integer>2283</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>24</integer>
			<integer>6</integer>
			<integer>5073</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>SystemUIServer</string>
			<string>com.apple.systemuiserver</string>
			<string>462</string>
			<string>1.7</string>
			<integer>121538</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>VisualizerService</string>
			<string>com.apple.iTunes.VisualizerService</string>
			<string>12.8.3</string>
			<string>12.8.3</string>
			<integer>22861</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>CptHost</string>
			<string>us.zoom.CptHost</string>
			<string>5.13.6.14918</string>
			<string>5.13.6 (14918)</string>
			<integer>5206</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>WiFiAgent</string>
			<string>com.apple.wifi.WiFiAgent</string>
			<string>1361.7</string>
			<string>13.0</string>
			<integer>121548</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>cloudphotosd</string>
			<string>com.apple.cloudphotosd</string>
			<string>3291.13.210</string>
			<string>3.0</string>
			<integer>70290</integer>
			<integer>0</integer>
			<integer>10</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>SecurityAgent</string>
			<string>com.apple.SecurityAgent</string>
			<string>55360.50.13</string>
			<string>9.0</string>
			<integer>129</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>QuickLookUIHelper</string>
			<string>com.apple.quicklook.ui.helper</string>
			<string>743.13</string>
			<string>5.0</string>
			<integer>27</integer>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Notes</string>
			<string>com.apple.Notes</string>
			<string>876.1</string>
			<string>4.5</string>
			<integer>66625</integer>
			<integer>5946</integer>
			<integer>2</integer>
			<integer>10</integer>
			<integer>1</integer>
			<integer>34</integer>
			<integer>17</integer>
			<integer>8579</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string></string>
			<string>com.apple.SecurityAgent</string>
			<string>55360.50.13</string>
			<string>9.0</string>
			<integer>7</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>nbagent</string>
			<string>com.apple.nbagent</string>
			<string>1</string>
			<string>1.0</string>
			<integer>121537</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>DiskImages UI Agent</string>
			<string>com.apple.frameworks.diskimages.diuiagent</string>
			<string>480.60.1</string>
			<string>480.60.1</string>
			<integer>57</integer>
			<integer>0</integer>
			<integer>5</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Archive Utility</string>
			<string>com.apple.archiveutility</string>
			<string>81</string>
			<string>10.10</string>
			<integer>5</integer>
			<integer>5</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>plugin-container</string>
			<string>org.mozilla.plugincontainer</string>
			<string>1.0</string>
			<string></string>
			<integer>27099</integer>
			<integer>0</integer>
			<integer>110</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.iCal.CalendarNC</string>
			<string>com.apple.iCal.CalendarNC</string>
			<string>2195.4.3</string>
			<string>1.0</string>
			<integer>361</integer>
			<integer>0</integer>
			<integer>26</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Spotlight</string>
			<string>com.apple.Spotlight</string>
			<string>1191.4.13</string>
			<string>1.0</string>
			<integer>121538</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>iTunes</string>
			<string>com.apple.iTunes</string>
			<string>12.8.3</string>
			<string>12.8.3</string>
			<integer>33222</integer>
			<integer>412</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>1012</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>App Store</string>
			<string>com.apple.appstore</string>
			<string>658.1</string>
			<string>2.4</string>
			<integer>1034</integer>
			<integer>556</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>2</integer>
			<integer>1028</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>NotificationCenter</string>
			<string>com.apple.notificationcenterui</string>
			<string>639.10</string>
			<string>1.0</string>
			<integer>121538</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Dock</string>
			<string>com.apple.dock</string>
			<string>1849.16</string>
			<string>1.8</string>
			<integer>121539</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string></string>
			<string>com.apple.TMHelperAgent</string>
			<string>10.9</string>
			<string>10.9</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.WebKit.WebContent</string>
			<string>com.apple.WebKit.WebContent</string>
			<string>13605.3.8</string>
			<string>13605</string>
			<integer>8690</integer>
			<integer>0</integer>
			<integer>29</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string></string>
			<string>com.apple.PackageKit.Install-in-Progress</string>
			<string>733</string>
			<string>3.0</string>
			<integer>1</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>AddressBookSourceSync</string>
			<string>com.apple.AddressBookSourceSync</string>
			<string>1808.8</string>
			<string>11.0</string>
			<integer>49</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>DiskImageMounter</string>
			<string>com.apple.DiskImageMounter</string>
			<string>480.60.1</string>
			<string>480.60.1</string>
			<integer>61</integer>
			<integer>0</integer>
			<integer>5</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>AOSHeartbeat</string>
			<string>com.apple.AOSHeartbeat</string>
			<string>267</string>
			<string>1.07</string>
			<integer>70</integer>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>FaceTime</string>
			<string>com.apple.FaceTime</string>
			<string>3080</string>
			<string>4.0</string>
			<integer>6530</integer>
			<integer>261</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>861</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>imklaunchagent</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>52561</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.preferences.icloud.remoteservice</string>
			<string>com.apple.preferences.icloud.remoteservice</string>
			<string>562</string>
			<string>316</string>
			<integer>120</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.RemindersNC</string>
			<string>com.apple.reminders.RemindersNC</string>
			<string>1457.4.1</string>
			<string>1.0</string>
			<integer>837</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>talagent</string>
			<string>com.apple.talagent</string>
			<string></string>
			<string></string>
			<integer>22298</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>AOSPushRelay</string>
			<string>com.apple.AOSPushRelay</string>
			<string>267</string>
			<string>1.07</string>
			<integer>57</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>SiriNCService</string>
			<string>com.apple.SiriNCService</string>
			<string>146.4.6.1</string>
			<string>146.4.6.1</string>
			<integer>63721</integer>
			<integer>0</integer>
			<integer>14</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>ViewBridgeAuxiliary</string>
			<string>com.apple.ViewBridgeAuxiliary</string>
			<string></string>
			<string></string>
			<integer>22246</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.ncplugin.stocks</string>
			<string>com.apple.ncplugin.stocks</string>
			<string>26</string>
			<string>1.0</string>
			<integer>363</integer>
			<integer>0</integer>
			<integer>26</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Keychain Circle Notification</string>
			<string>com.apple.security.Keychain-Circle-Notification</string>
			<string>58286.70.7</string>
			<string>1.0</string>
			<integer>44535</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>UnmountAssistantAgent</string>
			<string>com.apple.UnmountAssistantAgent</string>
			<string>5.0</string>
			<string>5.0</string>
			<integer>34</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.WebKit.Storage</string>
			<string>com.apple.WebKit.Storage</string>
			<string>13605.3.8</string>
			<string>13605</string>
			<integer>28270</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.dock.extra</string>
			<string>com.apple.dock.extra</string>
			<string>1</string>
			<string>1.0</string>
			<integer>121538</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>BluetoothUIServer</string>
			<string>com.apple.BluetoothUIServer</string>
			<string>6.0.7f10</string>
			<string>6.0.7</string>
			<integer>9</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>zoom.us</string>
			<string>us.zoom.xos</string>
			<string>5.13.6.14918</string>
			<string>5.13.6 (14918)</string>
			<integer>5245</integer>
			<integer>2281</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>6</integer>
			<integer>4</integer>
			<integer>2312</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>System Preferences</string>
			<string>com.apple.systempreferences</string>
			<string>14.0</string>
			<string>14.0</string>
			<integer>1004</integer>
			<integer>952</integer>
			<integer>7</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>9</integer>
			<integer>6</integer>
			<integer>958</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>storeuid</string>
			<string>com.apple.storeuid</string>
			<string>658.1</string>
			<string>1.0</string>
			<integer>20652</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>loginwindow</string>
			<string>com.apple.loginwindow</string>
			<string>1791.5</string>
			<string>9.0</string>
			<integer>121550</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>plugin-container</string>
			<string>org.mozilla.plugincontainer</string>
			<string>1.0</string>
			<string></string>
			<integer>12527</integer>
			<integer>0</integer>
			<integer>200</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>firefox</string>
			<string>org.mozilla.firefox</string>
			<string>10923.1.12</string>
			<string>109.0</string>
			<integer>94936</integer>
			<integer>26303</integer>
			<integer>3</integer>
			<integer>39</integer>
			<integer>1</integer>
			<integer>297</integer>
			<integer>68</integer>
			<integer>40867</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Finder</string>
			<string>com.apple.finder</string>
			<string>10.13.5</string>
			<string>10.13.5</string>
			<integer>121537</integer>
			<integer>4302</integer>
			<integer>0</integer>
			<integer>13</integer>
			<integer>1</integer>
			<integer>70</integer>
			<integer>42</integer>
			<integer>14305</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>universalaccessd</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>14393</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Mail</string>
			<string>com.apple.mail</string>
			<string>3445.9.1</string>
			<string>11.5</string>
			<integer>3630</integer>
			<integer>292</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>592</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Download Java Components</string>
			<string>com.apple.java.DownloadComponents</string>
			<string>15.0.1</string>
			<string>15.0.1</string>
			<integer>10</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>DashboardClient</string>
			<string>com.apple.dashboard.client</string>
			<string>1.8</string>
			<string>1.8</string>
			<integer>95003</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>iTunesHelper</string>
			<string>com.apple.iTunesHelper</string>
			<string>12.8.3</string>
			<string>12.8.3</string>
			<integer>120413</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>CoreLocationAgent</string>
			<string>com.apple.CoreLocationAgent</string>
			<string>1486.12</string>
			<string>1486.12</string>
			<integer>77801</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>CoreServicesUIAgent</string>
			<string>com.apple.coreservices.uiagent</string>
			<string>180.7.6</string>
			<string>180.7.6</string>
			<integer>119907</integer>
			<integer>0</integer>
			<integer>34</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Electron</string>
			<string>com.microsoft.VSCode</string>
			<string>1.74.3</string>
			<string>1.74.3</string>
			<integer>15600</integer>
			<integer>3640</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>141</integer>
			<integer>7</integer>
			<integer>8474</integer>
		</array>
		<array>
			<string>MasAppRecord</string>
			<string>Remote Mouse</string>
			<string>com.remotemouse.remotemouseserver</string>
			<string>3203</string>
			<string>3.202</string>
			<integer>33930</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<string>403195710</string>
			<string>851975255</string>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.WebKit.Networking</string>
			<string>com.apple.WebKit.Networking</string>
			<string>13605.3.8</string>
			<string>13605</string>
			<integer>11010</integer>
			<integer>0</integer>
			<integer>9</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>applet</string>
			<string>com.sudo-prompt</string>
			<string></string>
			<string>1.0</string>
			<integer>74</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>FaceTimeNotificationCenterService</string>
			<string>com.apple.FaceTime.FaceTimeNotificationCenterService</string>
			<string>3080</string>
			<string>1.0</string>
			<integer>6525</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>UserNotificationCenter</string>
			<string>com.apple.UserNotificationCenter</string>
			<string>37</string>
			<string>3.3.0</string>
			<integer>1110</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>universalAccessAuthWarn</string>
			<string>com.apple.accessibility.universalAccessAuthWarn</string>
			<string>361.13.8</string>
			<string>1.0</string>
			<integer>43820</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>touristd</string>
			<string>com.apple.touristd</string>
			<string>1.0.52</string>
			<string>1.1</string>
			<integer>1560</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Installer</string>
			<string>com.apple.installer</string>
			<string>920</string>
			<string>6.2.0</string>
			<integer>124</integer>
			<integer>81</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>2</integer>
			<integer>124</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>MobileDeviceUpdater</string>
			<string>com.apple.MobileDeviceUpdater</string>
			<string>1</string>
			<string>1.0</string>
			<integer>10672</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.preference.displays.AirPlayDeviceMenuService</string>
			<string>com.apple.preference.displays.AirPlayDeviceMenuService</string>
			<string>101</string>
			<string>1.0</string>
			<integer>567</integer>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>AirPlayUIAgent</string>
			<string>com.apple.AirPlayUIAgent</string>
			<string>366.76.2</string>
			<string>2.0</string>
			<integer>121538</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>LaterAgent</string>
			<string>com.apple.lateragent</string>
			<string>658.1</string>
			<string>1.0</string>
			<integer>121512</integer>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>LocationMenu</string>
			<string>com.apple.locationmenu</string>
			<string>1</string>
			<string>1.0</string>
			<integer>101</integer>
			<integer>0</integer>
			<integer>7</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>OSDUIHelper</string>
			<string>com.apple.OSDUIHelper</string>
			<string>1</string>
			<string>1.0</string>
			<integer>32799</integer>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Steven Slate Audio Center</string>
			<string>com.yme.slateaudio-center</string>
			<string>3.0.1</string>
			<string>3.0.1</string>
			<integer>2258</integer>
			<integer>1383</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>1499</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>imklaunchagent</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>6212</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>ViewBridgeAuxiliary</string>
			<string>com.apple.ViewBridgeAuxiliary</string>
			<string></string>
			<string></string>
			<integer>4032</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>REAPER</string>
			<string>com.cockos.reaper</string>
			<string>6.73.0_0652cd2u</string>
			<string>6.73.0_0652cd2u</string>
			<integer>5178</integer>
			<integer>2474</integer>
			<integer>6</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>10</integer>
			<integer>8</integer>
			<integer>3624</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>universalaccessd</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>14390</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Install in Progress</string>
			<string>com.apple.PackageKit.Install-in-Progress</string>
			<string>733</string>
			<string>3.0</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>KeyboardSetupAssistant</string>
			<string>com.apple.KeyboardSetupAssistant</string>
			<string>100</string>
			<string>10.7</string>
			<integer>10</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<integer>8</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Terminal</string>
			<string>com.apple.Terminal</string>
			<string>404</string>
			<string>2.8.2</string>
			<integer>24817</integer>
			<integer>2811</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>84</integer>
			<integer>7</integer>
			<integer>9650</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>X32-Edit</string>
			<string>com.musictribe.X32-Edit</string>
			<string>4.3.0</string>
			<string>4.3.0</string>
			<integer>68096</integer>
			<integer>3680</integer>
			<integer>3</integer>
			<integer>7</integer>
			<integer>1</integer>
			<integer>18</integer>
			<integer>14</integer>
			<integer>5959</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>talagent</string>
			<string>com.apple.talagent</string>
			<string></string>
			<string></string>
			<integer>4137</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Install Command Line Developer Tools</string>
			<string>com.apple.dt.CommandLineTools.installondemand</string>
			<string>1</string>
			<string>1.0</string>
			<integer>707</integer>
			<integer>61</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>653</integer>
		</array>
	</array>
	<key>appRecords_lastMas</key>
	<array>
		<array>
			<string>MasAppRecord</string>
			<string>Remote Mouse</string>
			<string>com.remotemouse.remotemouseserver</string>
			<string>3203</string>
			<string>3.202</string>
			<integer>33930</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<string>403195710</string>
			<string>851975255</string>
		</array>
	</array>
	<key>appsPerActivityPeriod</key>
	<array>
		<date>2023-01-31T00:00:01Z</date>
		<integer>1</integer>
		<array>
			<integer>2</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>lastMorningLogDate</key>
	<date>2023-01-31T00:00:01Z</date>
	<key>lastWeeklyLogDate</key>
	<date>2023-01-29T00:27:05Z</date>
	<key>submissionScheduler</key>
	<array>
		<date>2023-02-01T01:35:28Z</date>
		<false/>
	</array>
	<key>systemRecord</key>
	<array>
		<string>SystemRecord</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<integer>121550</integer>
		<integer>57871</integer>
		<integer>6</integer>
		<integer>79</integer>
		<integer>0</integer>
		<integer>111</integer>
		<integer>6</integer>
		<integer>71653</integer>
	</array>
</dict>
</plist>
