<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastUsedVersionDirectoryName</key>
	<string>V5</string>
	<key>VersionDirectoryIdentifiers</key>
	<dict>
		<key>V5</key>
		<string>C08C685C-5D3F-49D2-9741-4533B9192291</string>
	</dict>
</dict>
</plist>
