<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IMAPMailboxUnseenCount</key>
	<integer>215</integer>
	<key>MailboxID</key>
	<string>EBD8ABBD-7DFC-47BD-A067-0C7E48F5F0B7</string>
	<key>MailboxName</key>
	<string>Importante</string>
</dict>
</plist>
