<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoScheduleSupport</key>
	<false/>
	<key>CalendarHomeSyncSupported</key>
	<false/>
	<key>CalendarProxySupport</key>
	<false/>
	<key>CalendarServerPrivateEventsSupport</key>
	<false/>
	<key>Color</key>
	<string>#6C6C6CFF</string>
	<key>Delegate</key>
	<true/>
	<key>Enabled</key>
	<false/>
	<key>ExpandPropertyReportSupport</key>
	<false/>
	<key>Expanded</key>
	<true/>
	<key>InboxAvailabilitySupport</key>
	<false/>
	<key>JunkReportingSupport</key>
	<false/>
	<key>KeepOffline</key>
	<false/>
	<key>Key</key>
	<string>A33BF6F4-EDDB-4A42-A13D-4B3B989365E3</string>
	<key>LikenessPropagationSupport</key>
	<false/>
	<key>ManagedAttachmentSupported</key>
	<false/>
	<key>Order</key>
	<integer>7</integer>
	<key>PreferredCalendarUserAddresses</key>
	<array/>
	<key>Principal</key>
	<string>9BC78EFC-2867-41F7-BB35-03B7CDCCB1FC</string>
	<key>PrincipalURL</key>
	<string>https://apidata.googleusercontent.com/caldav/v2/family11465509795034912342%40group.calendar.google.com/user/</string>
	<key>PrivateCommentsSupport</key>
	<false/>
	<key>RequestCompressionSupported</key>
	<false/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>SupportsDefaultAlarms</key>
	<true/>
	<key>SupportsNotSerializingTimezones</key>
	<false/>
	<key>SupportsPhoneNumbers</key>
	<false/>
	<key>SupportsRecurrenceSplitOnServer</key>
	<false/>
	<key>SupportsSharing</key>
	<false/>
	<key>SupportsSubscriptionCalendars</key>
	<false/>
	<key>Title</key>
	<string>Family</string>
	<key>Type</key>
	<string>CalDAV</string>
	<key>Writable</key>
	<true/>
	<key>isInSeparateWindow</key>
	<false/>
	<key>isManuallyConfigured</key>
	<false/>
</dict>
</plist>
