<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Checked</key>
	<integer>1</integer>
	<key>Color</key>
	<string>#8295AFFF</string>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>44EACF8D-289E-411A-A79D-8560996D0DD1</string>
	<key>Notes</key>
	<string> </string>
	<key>Order</key>
	<integer>3</integer>
	<key>ShareDefaultAlarmSettings</key>
	<false/>
	<key>TaskContainer</key>
	<false/>
	<key>Title</key>
	<string>Datas de nascimento</string>
	<key>Type</key>
	<string>Birthday</string>
</dict>
</plist>
