<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Availability</key>
	<true/>
	<key>CTag</key>
	<string>HwoQEgwAAI6wkkQAFQAAAAAYARgAIhUIx5KFoqD2lr54EJDIzanv5ru9jQEoAA==</string>
	<key>CalendarPath</key>
	<string>/10024225314/calendars/17D57E9E-7680-45CE-9F10-0167E2AB7B2C/</string>
	<key>CanBePublished</key>
	<true/>
	<key>Checked</key>
	<integer>1</integer>
	<key>Color</key>
	<string>#1D9BF6FF</string>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>B4EFA7A3-AD80-4FFA-AE13-FFB3514F16B0</string>
	<key>Order</key>
	<integer>5</integer>
	<key>OwnerPrincipalPath</key>
	<string>/10024225314/principal/</string>
	<key>Permission</key>
	<integer>4</integer>
	<key>PushKey</key>
	<string>10024225314</string>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>TaskContainer</key>
	<false/>
	<key>TimeZone</key>
	<string>Europe/Lisbon</string>
	<key>Title</key>
	<string>Agenda</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
