<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MailboxHasBeenImported</key>
	<string>Yes</string>
	<key>MailboxID</key>
	<string>482243C5-B3E3-4599-9B3C-B36D83A88DFA</string>
	<key>MailboxName</key>
	<string>Outbox</string>
</dict>
</plist>
