<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Availability</key>
	<true/>
	<key>CalendarPath</key>
	<string>/caldav/v2/faeldroom46%40gmail.com/events/</string>
	<key>CanBePublished</key>
	<false/>
	<key>Checked</key>
	<integer>1</integer>
	<key>Color</key>
	<string>#9A9CFFFF</string>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>2C5114B6-75D7-422A-A276-7A71D99B7110</string>
	<key>Notes</key>
	<string>faeldroom46@gmail.com</string>
	<key>Order</key>
	<integer>1</integer>
	<key>OwnerPrincipalPath</key>
	<string>/caldav/v2/faeldroom46%40gmail.com/user/</string>
	<key>Permission</key>
	<integer>4</integer>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>TaskContainer</key>
	<false/>
	<key>TimeZone</key>
	<string>Europe/Lisbon</string>
	<key>Title</key>
	<string>faeldroom46@gmail.com</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
